@page "/counter"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<h3>@(_textTable?.PagesCounterTitle ?? "Counter")</h3>

<p>@(_textTable?.PagesCounterCurrentCount ?? "Current count"): @currentCount</p>

<button @onclick="IncrementCount">@(_textTable?.PagesCounterIncrementButton ?? "Click me")</button>

@code {
    private int currentCount = 0;
    private CleanArchitecture.WASM.I18nText.AppText? _textTable;

    protected override async Task OnInitializedAsync()
    {
        _textTable = await I18nText.GetTextTableAsync<CleanArchitecture.WASM.I18nText.AppText>(this);
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
