@page "/"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<PageTitle>@(_textTable?.PagesHomeTitle ?? "Home")</PageTitle>

<h1>@(_textTable?.PagesHomeTitle ?? "Home")</h1>
<p>@(_textTable?.PagesHomeSubtitle ?? "Welcome")</p>

@code {
    private CleanArchitecture.WASM.I18nText.AppText? _textTable;

    protected override async Task OnInitializedAsync()
    {
        _textTable = await I18nText.GetTextTableAsync<CleanArchitecture.WASM.I18nText.AppText>(this);
    }
}