@page "/login"
@using CleanArchitecture.WASM.Resources
@using Toolbelt.Blazor.I18nText
@inject Toolbelt.Blazor.I18nText.I18nText I18n

<h3>@title</h3>

<EditForm>
    <label>@email</label>
    <InputText />

    <label>@password</label>
    <InputText type="password" />

    <button>@submit</button>
</EditForm>

<LanguageSwitcher />

@code {
    private string title = "";
    private string email = "";
    private string password = "";
    private string submit = "";

    protected override async Task OnInitializedAsync()
    {
        var t = await I18n.GetTextTableAsync<en>(this);

        title = t.auth.login;
        email = t.auth.email;
        password = t.auth.password;
        submit = t.buttons.submit;
    }
}